// API RECHERCHE FILMS

#resultats{
    margin: 0.5vw;
    display: flex;
    flex-wrap: wrap;
    margin-left:0.5vw;
    color: white;
    justify-content: center;
}

.fiche_film{
    margin: 0.5vw;
    width: 8.5%;
    border: 1px solid white;
}

.fiche_film img {
    max-width: 100%;

}