{% extends 'base.back.html.twig' %}

{% block title %}Nouveau film{% endblock %}

{% block body %}
	<a href="{{ path('app_admin_film_index') }}" class="btn btn-inverse-secondary mb-3">Voir la liste</a>

    <h1>Ajouter un film</h1>

    {{ include('admin_film/_form.html.twig') }}


{% endblock %}
